.hide-me {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#shapeContainer {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
}

#shade {
    position: absolute;
    background: black;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    padding: 50vh 50vw;
}

svg {
    position: absolute;
}
